body {
  text-align: center;
  background-color: teal;
}

button {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: #444;
}

button:active,
button:focus {
  outline: none;
}

#card-area {
  margin-top: 80px;
}

#card-area > img {
  margin: auto;
  position: absolute;
}
